<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add an Actor</title>
  </head>
  <body>

    <form action="/actors" method="post">
      <ul>
        <li>
          <label for="name">Name</label>
          <input type="text" name="name" value="">
        </li>
        <li>
          <label for="age">Age</label>
          <input type="text" name="age" value="">
        </li>
        <li>
          <label for="experience">Experience</label>
          <input type="text" name="experience" value="">
        </li>
          <li><input type="submit" value="Add Actor">
        </li>
      </ul>
    </form>

    <a href="/home">Back to the Home Page</a>
    <a href="/actors">Back to the Actor Page</a>

  </body>
</html>
