<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie index page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Here are all the movies </h1>
        <ul>
        <% @movies.each do |movie| %>
            <li>
            <a href="/movies/<%= movie.id %>"> <%=movie.title  %> </a>
            </li>
        <% end %>
        </ul>

        <br>
        <a href="/movies/new">Click to add a new movie </a>
        <br>
        <a href="/home">Go back to the home page</a>
    </body>
</html>