<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home page </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to our homepage</h1>

        <h2> <a href="/movies"> Index of all Movies </a></h2>
        <br>
        <h2> <a href="/actors"> Index of all Actors </a></h2>
        <br>
        <h2> <a href="/genres"> Index of all Genres</a> </h2>
        <br>
        <p> <a href="/about">About page</a></p>
    </body>
</html>
